@import "compass/css3";

@font-face {
    font-family: custom-sans-serif;
    src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-sans-serif;
    src: local(Helvetica);
    unicode-range: U+00-024F;
}
* {
    font-family: "custom-sans-serif";
    margin: 0px;
    padding: 0px;
    @include box-sizing(border-box);

    &:focus {
        outline: none;
    }
}
body {
    overflow: hidden;
}
img {
    position: absolute;
    top: calc(20%);
    left: calc(40%);
}
.btns {
    position: fixed;
    top: 30vh;
    width: 5vh;
    height: 30vh;
    text-align: center;
    z-index: 10;

    .btn {
        display: inline-block;
        border: 0px solid red;
        margin: 2.25vh 0;
        width: 3vh;
        height: 3vh;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        @include transition(background-color 0.3s);

        &:hover {
            background-color: #444;
        }
        &:focus {
            background-color: #444;
        }
    }
}
.perspectiveView {
    perspective: 1000px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    .layer {
        position: relative;
        width: 100vw;
        height: 400vh;
        position: absolute;
        top: 0px;
        left: 0px;
        @include transform-origin(50%, 50vh);

        .view {
            position: absolute;
            text-align: center;
            width: 100vw;
            height: 100vh;

            .content {
                pointer-events: none;
                text-align: center;
                display: inline-block;
                width: 80vw;
                height: 90vh;
                line-height: 3rem;
                font-size: 1.5rem;
                color: transparent;
                vertical-align: middle;
                overflow: hidden;
            }
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
        }
    }
    .layer1 {
        @include transform(translateZ(875px) scale(0.125));

        .view1 {
            top: 0 * 800vh;
        }
        .view2 {
            top: 1 * 800vh;
        }
        .view3 {
            top: 2 * 800vh;
        }
        .view4 {
            top: 3 * 800vh;
            .draw {
                position: absolute;
                top: 0vh;
                left: 0vw;
                border: 30px solid rgba(0,0,0,0.25);
                border-radius: 10%;
                width: 100vw;
                height: 100vh;
                @include background(linear-gradient(rgba(255,255,255,0.25), rgba(0,0,0,0.25)));
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top:7%;
                    left: 7%;
                    width: 86%;
                    height: 86%;
                    border: 3px solid white;
                }
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top:3%;
                    left: 3%;
                    width: 94%;
                    height: 94%;
                    border: 3px solid black;
                }
            }
        }
        .view5 {
            top: 4 * 800vh;
        }
    }
    .layer2 {
        @include transform(translateZ(750px) scale(0.25));

        .view1 {
            top: 0 * 400vh;
        }
        .view2 {
            top: 1 * 400vh;
        }
        .view3 {
            top: 2 * 400vh;
        }
        .view4 {
            top: 3 * 400vh;
            .draw {
                position: absolute;
                top: 10vh;
                left: 10vw;
                border: 30px solid rgba(0,0,0,0.5);
                border-radius: 10%;
                width: 80vw;
                height: 80vh;
                @include background(linear-gradient(rgba(255,255,255,0.25), rgba(0,0,0,0.25)));
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top:7%;
                    left: 7%;
                    width: 86%;
                    height: 86%;
                    border: 3px solid white;
                }
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top:3%;
                    left: 3%;
                    width: 94%;
                    height: 94%;
                    border: 3px solid black;
                }
            }
        }
        .view5 {
            top: 4 * 400vh;
        }
    }
    .layer3 {
        @include transform(translateZ(500px) scale(0.5));

        .view1 {
            top: 0 * 200vh;
        }
        .view2 {
            top: 1 * 200vh;
        }
        .view3 {
            top: 2 * 200vh;
        }
        .view4 {
            top: 3 * 200vh;
            .draw {
                position: absolute;
                top: 20vh;
                left: 20vw;
                border: 30px solid rgba(0,0,0,0.75);
                border-radius: 10%;
                width: 60vw;
                height: 60vh;
                @include background(linear-gradient(rgba(255,255,255,0.25), rgba(0,0,0,0.25)));
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top:7%;
                    left: 7%;
                    width: 86%;
                    height: 86%;
                    border: 3px solid white;
                }
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top:3%;
                    left: 3%;
                    width: 94%;
                    height: 94%;
                    border: 3px solid black;
                }
            }
        }
        .view5 {
            top: 4 * 200vh;
        }
    }
    .layer4 {
        @include transform(translateZ(0px) scale(1));

        .view1 {
            top: 0 * 100vh;
        }
        .view2 {
            top: 1 * 100vh;
        }
        .view3 {
            top: 2 * 100vh;
        }
        .view4 {
            top: 3 * 100vh;
            .draw {
                position: absolute;
                top: 30vh;
                left: 30vw;
                border: 30px solid rgba(0,0,0,1);
                border-radius: 10%;
                width: 40vw;
                height: 40vh;
                @include background(linear-gradient(rgba(255,255,255,0.25), rgba(0,0,0,0.25)));
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top:7%;
                    left: 7%;
                    width: 86%;
                    height: 86%;
                    border: 3px solid white;
                }
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top:3%;
                    left: 3%;
                    width: 94%;
                    height: 94%;
                    border: 3px solid black;
                }
            }
        }
        .view5 {
            top: 4 * 100vh;
        }
    }
}