@charset "UTF-8";
@font-face {
  font-family: custom-sans-serif;
  src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: custom-sans-serif;
  src: local(Helvetica);
  unicode-range: U+00-024F;
}
/* line 13, ../sass/all.scss */
* {
  font-family: "custom-sans-serif";
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 19, ../sass/all.scss */
*:focus {
  outline: none;
}

/* line 23, ../sass/all.scss */
body {
  overflow: hidden;
}

/* line 26, ../sass/all.scss */
.perspectiveView {
  text-align: center;
  perspective: 1000px;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 35, ../sass/all.scss */
.perspectiveView .layer {
  position: relative;
  width: 100vw;
  height: 400vh;
  position: absolute;
  top: 0px;
  left: 0px;
  -moz-transform-origin: 50% 50vh;
  -ms-transform-origin: 50% 50vh;
  -webkit-transform-origin: 50% 50vh;
  transform-origin: 50% 50vh;
}
/* line 43, ../sass/all.scss */
.perspectiveView .layer .view {
  position: absolute;
}
/* line 45, ../sass/all.scss */
.perspectiveView .layer .view .content {
  display: inline-block;
  width: 80vw;
  height: 200px;
  vertical-align: middle;
}
/* line 52, ../sass/all.scss */
.perspectiveView .layer .view:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 60, ../sass/all.scss */
.perspectiveView .layer .view1 {
  width: 100vw;
  height: 100vh;
}
/* line 65, ../sass/all.scss */
.perspectiveView .layer .view2 {
  width: 100vw;
  height: 100vh;
}
/* line 70, ../sass/all.scss */
.perspectiveView .layer .view3 {
  width: 100vw;
  height: 100vh;
}
/* line 75, ../sass/all.scss */
.perspectiveView .layer .view4 {
  width: 100vw;
  height: 100vh;
}
/* line 82, ../sass/all.scss */
.perspectiveView .layer1 {
  -moz-transform: translateZ(875px) scale(0.125);
  -ms-transform: translateZ(875px) scale(0.125);
  -webkit-transform: translateZ(875px) scale(0.125);
  transform: translateZ(875px) scale(0.125);
}
/* line 84, ../sass/all.scss */
.perspectiveView .layer1 .view {
  left: 0px;
}
/* line 87, ../sass/all.scss */
.perspectiveView .layer1 .view2 {
  top: 800vh;
}
/* line 90, ../sass/all.scss */
.perspectiveView .layer1 .view3 {
  top: 1600vh;
}
/* line 93, ../sass/all.scss */
.perspectiveView .layer1 .view4 {
  top: 2400vh;
}
/* line 98, ../sass/all.scss */
.perspectiveView .layer2 {
  -moz-transform: translateZ(750px) scale(0.25);
  -ms-transform: translateZ(750px) scale(0.25);
  -webkit-transform: translateZ(750px) scale(0.25);
  transform: translateZ(750px) scale(0.25);
}
/* line 100, ../sass/all.scss */
.perspectiveView .layer2 .view {
  left: 0px;
}
/* line 103, ../sass/all.scss */
.perspectiveView .layer2 .view2 {
  top: 400vh;
}
/* line 106, ../sass/all.scss */
.perspectiveView .layer2 .view3 {
  top: 800vh;
}
/* line 109, ../sass/all.scss */
.perspectiveView .layer2 .view4 {
  top: 1200vh;
}
/* line 114, ../sass/all.scss */
.perspectiveView .layer3 {
  -moz-transform: translateZ(500px) scale(0.5);
  -ms-transform: translateZ(500px) scale(0.5);
  -webkit-transform: translateZ(500px) scale(0.5);
  transform: translateZ(500px) scale(0.5);
}
/* line 116, ../sass/all.scss */
.perspectiveView .layer3 .view {
  left: 0px;
}
/* line 119, ../sass/all.scss */
.perspectiveView .layer3 .view2 {
  top: 200vh;
}
/* line 122, ../sass/all.scss */
.perspectiveView .layer3 .view3 {
  top: 400vh;
}
/* line 125, ../sass/all.scss */
.perspectiveView .layer3 .view4 {
  top: 600vh;
}
/* line 130, ../sass/all.scss */
.perspectiveView .layer4 {
  -moz-transform: translateZ(0px) scale(1);
  -ms-transform: translateZ(0px) scale(1);
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
}
/* line 132, ../sass/all.scss */
.perspectiveView .layer4 .view {
  left: 0px;
}
/* line 135, ../sass/all.scss */
.perspectiveView .layer4 .view2 {
  top: 100vh;
}
/* line 138, ../sass/all.scss */
.perspectiveView .layer4 .view3 {
  top: 200vh;
}
/* line 141, ../sass/all.scss */
.perspectiveView .layer4 .view4 {
  top: 300vh;
}
